body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
/*------------ 
-First Section-Start 
--------------*/
.section-one{
    display: flex;
    background-color: #b70000;
    padding-top: 150px;
    padding-bottom: 80px;
    margin-bottom: 55px;
    
}
  

.section-one-left{
    width: 50%;
    color: white;
    padding-top: 50px;
    padding-left: 156px;    
}
.section-one-left a, .section-three-left a {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #3dbafd;
    color: white;
}
#lol :hover {
    background-color:#b1bf1a;
}
.section-one-left h1{
    font-size: 41px
}
.section-one-right{
    width: 50%;
    align-items: center;

}
.section-one-right img{
    width: 550px;
    height: 440px;
   
}
/*------------ 
-First Section End-------------
-------------------------------
-Secont Section Strat---------- 
--------------*/
.all-profile{
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
    margin-right: 200px;
    
   
}
.profile{
    width: 250px;
    height: 460px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
.details img{
    height: 250px;
    width: 250px;
}
.details p{
    
}
/*-------------------------------------------------
                Third Section Strat 
 ------------------------------------------------*/

.section-three{
    display: flex;
    width: 100%;
    margin-top: 100px;

}
.section-three-left{
    padding-top: 80px;
    padding-left: 192px;
    width: 50%;
    padding-right: 60px;
}
.section-three-left h1{
        font-size: 42px;
}
.section-three-left p{
    margin-bottom: 25px;
}
.section-three-right{
    width: 50%;

}
.section-three-right img{
    padding-top: 60px;
    padding-right: 60px;
    width: 460px;
height: 330px;
} 

/*---------------------
       Section four  
 -----------------------*/
.section-four-all{
    text-align: center;
    margin-top: 150px;
}


.logo img{
    width: 480px;
    height: 110px;
}
.social-media-icon img{
    width: 32px;
    height: 32px;
}



/*------------- Responsive Sector------------- */

@media only screen and (max-width:688px) {
    .section-one{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-left: 15px;
    }
    .section-one-left{
        padding: 0px;
        margin: 0px;
    }
    .section-one-right{
        padding-top: 50px;
    }
    .section-one-right img{
        width: 335px;
    height: 286px;
        
    }
    .all-profile{
        display: flex;
        margin: 0px;
        justify-content: center;
        
    }
    .profile{
        width: 291px;
        height: 460px;
    }
    .details img {
        height: 242px;
        width: 291px;
    }
    .section-three{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .section-three-left{
        padding-left: 20px;
        padding-top: 0px;
    }
    .section-three-right{
        text-align: center;
        width: 100%;
    }
    .section-three-right img{
        padding-left: 7px;
        width: 96%;
        
    }
    .logo img{
        width: 100%;

    }
    
}
